<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="/js/manifest.json">
</head>
<body>
<h2>Register Form</h2>
<form id="registerForm">
    <input type="text" id="name" placeholder="Name" required><br>
    <input type="email" id="email" placeholder="Email" required><br>
    <textarea id="message" placeholder="Message" required></textarea><br>
    <button type="submit">Submit</button>
</form>

<script src="/js/offline.js"></script>
</body>
</html>
